body {
  color: #442a2a;
  font-size: 16px;
  /* font-family: "FutuLt", sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.img-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 507px;
  position: relative;
  z-index: 1;
}

.img-bg-only {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-bg:before {
  background-color: rgba(1, 1, 1, 0.486);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* Shadow and Outline */
a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
a:active,
a:hover {
  text-decoration: none;
}

button,
.btn {
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
button:active,
button:hover,
button:focus,
.btn:active,
.btn:hover,
.btn:focus {
  outline: 0;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  color: #191919;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}

.btn:hover,
.btn:focus {
  outline: 0;
  box-shadow: none;
  color: #fff;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  color: #111;
  font-weight: 700;
  margin-bottom: 20px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 48px;
  line-height: 1.3;
}

h2 {
  font-size: 36px;
  line-height: 1.3;
}

h3 {
  font-size: 28px;
  line-height: 1.3;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 16px;
  line-height: 1.2;
}

hr {
  margin: 20px 0;
  border-color: #352323;
}

ol {
  list-style: decimal;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol {
  list-style: lower-alpha;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

/* Form */
label {
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 8px;
}

*::-moz-selection {
  background: #10c9c3;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #10c9c3;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #10c9c3;
  color: #fff;
  text-shadow: none;
}

/* Placeholder */
*::-moz-placeholder {
  color: #442a2a;
  font-size: 18px;
  opacity: 1;
}

*::placeholder {
  color: #442a2a;
  font-size: 18px;
  opacity: 1;
}

/* Button */
.btn-theme {
  color: #fff;
  border-color: #10c9c3;
  background: #10c9c3;
}
.btn-theme:hover {
  background: #10c9c3;
  color: #fff;
  border-color: #10c9c3;
}

.btn-rounded {
  border-radius: 100% !important;
}

.btn-square {
  border-radius: 0 !important;
}

/* Bg Color */
.bg-offset {
  background: #f1f2fc;
}

.bg-gray {
  background: #f5f5f5;
}

.bg-white {
  background: #fff;
}

.bg-black {
  background: #000;
}

.bg-theme {
  background: #10c9c3;
}

.bg-light {
  background-color: #f1f2fc !important;
}

.bg-dark {
  background-color: #141414 !important;
}

.bg-off-white {
  background-color: #f7f7f7;
}

.bg-off-white-2 {
  background-color: #f1f8ff;
}

.bg-blue {
  background-color: #4c87ff !important;
}

.bg-yellow {
  background-color: #fea116 !important;
}

.bg-pink {
  background-color: #fc4557 !important;
}

.bg-egg-blue {
  background-color: #1cb5a3 !important;
}

.bg-purple {
  background-color: #5851a7 !important;
}

/* Text Color */
.gray-color {
  color: #f5f5f5;
}

.white-color {
  color: #fff;
}

.black-color {
  color: #000;
}

.theme-color {
  color: #10c9c3;
}

/* Others Common Css Here :) */

.table-row {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}
