/* social responsibilities hero css start  */

.social-responsibilities-hero-area {
  margin: 65px 0;
}

.social-responsibilities-section-title h1 {
  font-size: 52px;
}

/* social responsibilities hero css end */

/* social responsibilities hero css start */

.social-responsibilities-items {
  background-color: #f5f5f5;
  padding: 130px 30px;
}

/* social responsibilities hero css end */
