/* font family import by font.google.com  */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* default css start here  */

@import url("./default.css");

/* default css end here  */

/* header css start here  */

@import url("./header.css");

/* header css end here  */

/* Home Page css start here  */

@import url("./home-page.css");

/* Home Page css end here  */

/* About Page css start here  */

@import url("./about-page.css");

/* About Page css end here  */

/* History Page css start here  */

@import url("./history-page.css");

/* History Page css end here  */

/* Leadership Page css start here  */

@import url("./leadership-page.css");

/* Leadership Page css end here  */

/* Process Page css start here  */

@import url("./process-page.css");

/* Process Page css end here  */

/* Product Page css start here  */

@import url("./product-page.css");

/* Product Page css end here  */

/* social responsibilities Page css start here  */

@import url("./social-responsibilities-page.css");

/* social responsibilities Page css end here  */

/* Contact Us Page css start here  */

@import url("./contact-page.css");

/* Contact Us Page css end here  */

/* footer css start here  */

@import url("./footer.css");

/* footer css end here  */
