.trusted-area {
  margin: 100px 0;
}

.trusted-area .section-title h3 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.trusted-img {
  display: inline-block;
  margin-right: 20px;
}
